<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smash Or Pass</title>
</head>
<body>
    <div class="container">
        <div class="parent">
            <div class="flex-row menu">
                <img class="thumbnail shadow" src="https://thispersondoesnotexist.com/image">
                
            </div>
            <div class="flex-row image-container" >
                <img class="main-image shadow" src="https://thispersondoesnotexist.com/image">
            </div>
            <div class="flex-row action-buttons">
                <button type="button" (click)="myFunc()" class="btn btn-danger btn-circle shadow"><i class="bi bi-x-lg"></i></button>
                <button type="button" (click)="myFunc()" class="btn btn-primary btn-circle shadow"><i class="bi bi-heart-fill"></i></button>
            </div>
        </div>
    </div>

</body>
</html>

