<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smash Or Pass</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6">

                <div class="nav">                
                    <div class="fs-2 mb-3">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" style="margin-right: 10px;"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path></svg> -->
                        <h4 class="d-inline-block"><b>Smash Or Pass AI</b></h4>
                    </div>
                    <img style="align-items: flex-end;" class="thumbnail shadow d-inline-block" src="https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250">
                </div>

                <div class="image-container" >
                    <app-generated-image></app-generated-image>
                </div>

                <div class="action-buttons">
                    <button type="button" (click)="myFunc()" class="btn btn-danger btn-circle shadow"><i class="bi bi-x-lg" style="font-size: 36px"></i></button>
                    <button type="button" (click)="myFunc()" class="btn btn-primary btn-circle shadow"><i class="bi bi-heart-fill" style="font-size: 36px"></i></button>
                </div>

                <!-- <div class="footer">
                    <p>Made By <a href="https://github.com/Sarvesh-Kedia/smash-or-pass">Sarvesh Kedia</a></p>
                </div> -->

            </div>
        </div>
        
    </div>

</body>
</html>

